<li>
    <a class="menu<%if (menu == "dashboard") {%>-active<%}%> menu-link" href="/dashboard">Dashboard
        <span class="shape1"></span>
        <span class="shape2"></span>
    </a>
</li>
<li>
    <a class="menu<%if (menu == "billing") {%>-active<%}%> menu-link" href="/dashboard/billing">Billing
        <span class="shape1"></span>
        <span class="shape2"></span>
    </a>
</li>
<li>
    <a class="menu<%if (menu == "profile") {%>-active<%}%> menu-link" href="/dashboard/profile">Profile
        <span class="shape1"></span>
        <span class="shape2"></span>
    </a>
</li>
<li>
    <a href="/users/logout" class="menu-link">Logout
        <span class="shape1"></span>
        <span class="shape2"></span>
    </a>
</li>